[submodule "m.css"]
	path = m.css
	url = https://github.com/ashwinvis/m.css.git
[submodule "src/plugins/ipynb"]
	path = src/pelican_ashwinvis/ipynb
	url = https://github.com/ashwinvis/pelican-ipynb
[submodule "plugins/pelican-planet"]
	path = src/pelican-planet
	url = https://github.com/ashwinvis/pelican-planet
[submodule "plugins/webring"]
	path = src/webring
	url = https://github.com/ashwinvis/webring
[submodule "tufte-css"]
	path = content/static/tufte-css
	url = https://github.com/ashwinvis/tufte-css.git
