[submodule "m.css"]
	path = m.css
	url = https://github.com/ashwinvis/m.css.git
[submodule "src/plugins/ipynb"]
	path = plugins/ipynb
	url = https://github.com/ashwinvis/pelican-ipynb
[submodule "plugins/pelican-planet"]
	path = plugins/pelican-planet
	url = https://github.com/ashwinvis/pelican-planet
[submodule "plugins/webring"]
	path = plugins/webring
	url = https://github.com/ashwinvis/webring
