# pelican~=5.0
-e git+https://github.com/getpelican/pelican.git#egg=pelican
-e .
-e ./m.css/
-e ./src/pelican-planet
./src/webring
beautifulsoup4==4.7.1
restructuredtext-lint==1.3.0
invoke==1.2.0
jupyter>=1.0.0
bleach>=3.1.4
markdown==3.1.1
pybtex==0.22.2
pyyaml>=5.1<6.0
toolz<1.0.0
cssutils
cookiecutter<2.0.0
feedparser>5
python-dateutil==2.6.0
aiohttp==3.6.2
async-timeout==3.0.1
webmention-tools
pelican-webring
