---
Title: {{ title if title else 👉 }}
{% extends "metadata.njk" %}
---

{%- if likeOf %}
- 👍 Like: {{ likeOf }}
{%- endif %}
{%- if bookmarkOf %}
-  🔖Bookmark: {{ bookmarkOf }}
{%- endif %}
{%- if repostOf %}
- 🔁 Repost: {{ repostOf }}
{%- endif %}
{%- if inReplyTo %}
- ↩️ In reply to: {{ inReplyTo }}
{%- endif %}

{{ content | safe }}

{% extends "footer.njk" %}
