---
Title: {{ title if title else 🔗 }}
{% extends "indiekit/metadata.njk" %}
---

{%- if rsvp %}
- RSVP: {{ rsvp }}
{%- endif %}
{%- if location %}
- Event:
  + Start: {{ start }}
  + End: {{ end }}
  + Location: {{ location }}
{%- endif %}

{{ content | safe }}

{% extends "indiekit/footer.njk" %}
