.fedicomment .avatar img {
    max-height: 1.3em;
    max-width: 1.3em;
    border-radius: 25%;
}
.fedicomment summary  {
    font-family: var(--code-font);
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--article-footer-color);
}

/*Carl's*/

/*
.fedicomment {
 background-color:var(--body-background);
 border-radius:var(--card-border-radius);
 padding:var(--card-padding);
 margin-bottom:1rem;
 display:flex
}
.fedicomment .content {
 flex-grow:2
}
.fedicomment .avatar img {
 margin-right:1rem;
 min-width:60px
}
.fedicomment .author {
 padding-top:0;
 display:flex
}
.fedicomment .disabled {
 color:var(--accent-color)
}

.fedicomment .author .date {
 margin-left:auto
}
.fedicomment-content p:first-child {
 margin-top:0
}
*/
