@font-face {
    font-family: "SourceCodeProRegular";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/cc35f676db8d665e341971d0c290c03c/SourceCodeProRegular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "SourceCodeProSemibold";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/6c34e547bcbe3720f46409d516eba65d/SourceCodeProSemibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
    }
/* The following rules are deprecated. */
