@font-face {
    font-family: "SourceCodeProBlack";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/78eebcdc8150104a4dbca4dbd95d3ea3/SourceCodeProBlack.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "SourceCodeProBlackItalic";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/bc0b540c0dd23b1823393629837ff731/SourceCodeProBlackItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "SourceCodeProBold";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/372cbdba546c6d14dd379ad5642481d7/SourceCodeProBold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "SourceCodeProBoldItalic";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/e495f2a6125c01de035da1cef532c3e7/SourceCodeProBoldItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "SourceCodeProExtraLight";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/41c4ede4f855d7078df7c03b7d0bde99/SourceCodeProExtraLight.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "SourceCodeProExtraLightItalic";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/dff09ba812e071bed42201e0ab84ccb2/SourceCodeProExtraLightItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "SourceCodeProItalic";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/c7808ab8a4aa1d26b5d38fcd51e59ef2/SourceCodeProItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "SourceCodeProLight";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/2652e9a4061ca85e5b4fba5e9eb55294/SourceCodeProLight.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "SourceCodeProLightItalic";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/2a5b4b6a3163b1b77ee0c78d51081396/SourceCodeProLightItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "SourceCodeProMedium";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/783a18fdb0fbf06f3bccf25be9b5d029/SourceCodeProMedium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "SourceCodeProMediumItalic";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/0ed50307d406e0d1487a830c3f26a84a/SourceCodeProMediumItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "SourceCodeProRegular";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/cc35f676db8d665e341971d0c290c03c/SourceCodeProRegular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "SourceCodeProSemibold";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/6c34e547bcbe3720f46409d516eba65d/SourceCodeProSemibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
    }
@font-face {
    font-family: "SourceCodeProSemiboldItalic";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/979b84e4a12ff3095d3c45aecd4b4af3/SourceCodeProSemiboldItalic.ttf) format("truetype");
    font-weight: 600;
    font-style: italic
    }
/* The following rules are deprecated. */
@font-face {
    font-family: "Source Code Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/78eebcdc8150104a4dbca4dbd95d3ea3/SourceCodeProBlack.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "Source Code Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/bc0b540c0dd23b1823393629837ff731/SourceCodeProBlackItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "Source Code Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/372cbdba546c6d14dd379ad5642481d7/SourceCodeProBold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "Source Code Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/e495f2a6125c01de035da1cef532c3e7/SourceCodeProBoldItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "Source Code Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/41c4ede4f855d7078df7c03b7d0bde99/SourceCodeProExtraLight.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "Source Code Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/dff09ba812e071bed42201e0ab84ccb2/SourceCodeProExtraLightItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "Source Code Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/c7808ab8a4aa1d26b5d38fcd51e59ef2/SourceCodeProItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "Source Code Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/2652e9a4061ca85e5b4fba5e9eb55294/SourceCodeProLight.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "Source Code Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/2a5b4b6a3163b1b77ee0c78d51081396/SourceCodeProLightItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "Source Code Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/783a18fdb0fbf06f3bccf25be9b5d029/SourceCodeProMedium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "Source Code Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/0ed50307d406e0d1487a830c3f26a84a/SourceCodeProMediumItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "Source Code Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/cc35f676db8d665e341971d0c290c03c/SourceCodeProRegular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "Source Code Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/6c34e547bcbe3720f46409d516eba65d/SourceCodeProSemibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
    }
@font-face {
    font-family: "Source Code Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-code-pro/8733444bf1b52108e4cad8cfcbc40e15/979b84e4a12ff3095d3c45aecd4b4af3/SourceCodeProSemiboldItalic.ttf) format("truetype");
    font-weight: 600;
    font-style: italic
    }