@font-face {
    font-family: "SourceSansProRegular";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/d165cf1a72ee7db500ecfc9d7672a834/SourceSansProRegular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "SourceSansProSemibold";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/c8eb65424f2f0206e83a4ad5cc6ecbb3/SourceSansProSemibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
    }
/* The following rules are deprecated. */
