---
Title: Planet Avium
Author: Various
Slug: planet
Status: published
---

> A [river of news](https://indieweb.org/planet) from a [selection of
> feeds](https://github.com/ashwinvis/ashwinvis.github.io/blob/develop/planet.opml)
> I follow. *Disclaimer: This is not an endorsement*.

<style>
#planet img{
    max-width: 100%;
    height: auto;
}
</style>

<div id="planet">
{% for article in articles %}
<article class="h-cite">
<header>
  <h1>
    <a href="{{ article.link }}" rel="bookmark" class="u-url"
       title="{{ article.title}}" target="_blank">
      <time class="m-date" datetime="{{ article.updated }}">
        {{ article.updated.strftime("%b") }}
        <span class="m-date-day">
          {{ article.updated.strftime("%d") }}
        </span>
        {{ article.updated.strftime("%Y") }}
      </time>
      <div class="p-name">
      {{ article.title or "💬" }}
      </div>
    </a>
  </h1>
  <div class="p-summary">
  <p>
  {{ article.summary }}
  </p>
  </div>
</header>
<footer>
  <p>Posted by
  <span class="p-author"><b>{{ article.author or "Anonymous" }}</b></span>
  on <time datetime="{{ article.updated }}" class="dt-published"></time>
  {{ article.updated.strftime("%a %d %b %Y")}}
  in {{ article.feed_name }}.
</footer>
<div class="m-clearfix-l"></div>

</article>
{% endfor %}
</div>
