@font-face {
    font-family: "SourceSansProBlack";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/587ba2724f87ade04aab5c314ccfc7c8/SourceSansProBlack.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "SourceSansProBlackItalic";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/ddaa6865d948489ba15a523380956202/SourceSansProBlackItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "SourceSansProBold";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/1e9b84fcbc477139e16061c80f0d873d/SourceSansProBold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "SourceSansProBoldItalic";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/7edeabe69cf9fd9b8d6310c3b9a027b1/SourceSansProBoldItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "SourceSansProExtraLight";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/abbaecf00224cd1086837404c418af32/SourceSansProExtraLight.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "SourceSansProExtraLightItalic";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/95c44531a311edd3e77bfefbcd563f1b/SourceSansProExtraLightItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "SourceSansProItalic";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/61403c3297a48cfeaf13071038a555cd/SourceSansProItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "SourceSansProLight";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/a663a1ba5f49629a86f7486aaf0f5359/SourceSansProLight.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "SourceSansProLightItalic";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/a33030baca7e31c579ea661af7aae97a/SourceSansProLightItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "SourceSansProRegular";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/d165cf1a72ee7db500ecfc9d7672a834/SourceSansProRegular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "SourceSansProSemibold";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/c8eb65424f2f0206e83a4ad5cc6ecbb3/SourceSansProSemibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
    }
@font-face {
    font-family: "SourceSansProSemiboldItalic";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/51e929490d1d431b4127ce3197efb591/SourceSansProSemiboldItalic.ttf) format("truetype");
    font-weight: 600;
    font-style: italic
    }
/* The following rules are deprecated. */
@font-face {
    font-family: "Source Sans Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/587ba2724f87ade04aab5c314ccfc7c8/SourceSansProBlack.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "Source Sans Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/ddaa6865d948489ba15a523380956202/SourceSansProBlackItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "Source Sans Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/1e9b84fcbc477139e16061c80f0d873d/SourceSansProBold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "Source Sans Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/7edeabe69cf9fd9b8d6310c3b9a027b1/SourceSansProBoldItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "Source Sans Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/abbaecf00224cd1086837404c418af32/SourceSansProExtraLight.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "Source Sans Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/95c44531a311edd3e77bfefbcd563f1b/SourceSansProExtraLightItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "Source Sans Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/61403c3297a48cfeaf13071038a555cd/SourceSansProItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "Source Sans Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/a663a1ba5f49629a86f7486aaf0f5359/SourceSansProLight.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "Source Sans Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/a33030baca7e31c579ea661af7aae97a/SourceSansProLightItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
    }
@font-face {
    font-family: "Source Sans Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/d165cf1a72ee7db500ecfc9d7672a834/SourceSansProRegular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
    }
@font-face {
    font-family: "Source Sans Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/c8eb65424f2f0206e83a4ad5cc6ecbb3/SourceSansProSemibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
    }
@font-face {
    font-family: "Source Sans Pro";
    src: url(https://fontlibrary.org/assets/fonts/source-sans-pro/d288e5a9d9111d4041f365469aa2ca97/51e929490d1d431b4127ce3197efb591/SourceSansProSemiboldItalic.ttf) format("truetype");
    font-weight: 600;
    font-style: italic
    }